<html><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../../favicon.ico">
    <title>Shelf Map</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <link href="/static/cover.css" rel="stylesheet">
    <style id="style-1-cropbar-clipper">
    .en-markup-crop-options {
        top: 18px !important;
        left: 50% !important;
        margin-left: -100px !important;
        width: 200px !important;
        border: 2px rgba(255,255,255,.38) solid !important;
        border-radius: 4px !important;
    }
    .en-markup-crop-options div div:first-of-type {
        margin-left: 0px !important;
    }
    </style></head>

  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
            <div class="masthead clearfix">
                <div class="inner">
                  <h3 class="masthead-brand"><a href="/">Shelf map</a></h3>
                  <nav>
                    <ul class="nav masthead-nav">
                      <li id="btn1" class="active"><a href="#">도서 번호로 검색</a></li>
                      <li id ="btn2"><a href="#">제목으로 검색</a></li>
                      <li><a href="http://cfile23.uf.tistory.com/image/127DBB465109C6DF01EF5D">Contact</a></li>
                    </ul>
                  </nav>
                </div>
            </div>
          {%if not result and not result_msg %}
          <img id="logo" width="30%" src="/media/logo.jpeg"/>
          {% endif %}
          <div>
            <h2 class="cover-heading"></h2>

            <form id="num_form">
              <div class="form-group">
                <label>도서번호 첫째 줄을 입력하세요</label>
                <input placeholder="ex)809.944" type="text" class="form-control" name="major_id">
                <label>도서번호 두번째 줄을 입력하세요(TODO)</label>
                <input placeholder="ex)M312d" type="text" class="form-control" iname="minor_id">
              </div>
              <button type="submit" class="btn btn-lg btn-default">검색</button>
            </form>

            <form id="title_form" style="display: none">
              <div class="form-group">
                <label>도서 제목을 입력해주세요</label>
                <input placeholder="ex)commitment(영어 한 단어만 입력받습니다(FIXME)) " type="text" class="form-control" name="title">
              </div>
              <button type="submit" class="btn btn-lg btn-default">검색</button>
            </form>
          </div>
        <div>
        {% if result %}
            <div>
            nearest: {{result}}<br>
            서가위치는 {{result.col}} , {{result.row}} 입니다 <br>
            <img width="50%" height="50%" src="/media/map.png"/>
            </div>
        {% endif %}

        {% if result_msg %}
            {{result_msg|linebreaks}}
        {% endif %}
        </div>
          <div class="mastfoot">
            <div class="inner">
              <p>2015 창의융합프로젝트</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script>
        $('#btn2').click(function(){
            $('#title_form').show();
            $('#btn1').toggleClass("active");
            $(this).toggleClass("active");
            $('#num_form').hide();
        });
        $('#btn1').click(function(){
            $('#title_form').hide();
            $('#num_form').show();
            $('#btn2').toggleClass("active");
            $(this).toggleClass("active");
        });
    </script>
</body></html>

