<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <link href="/static/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>

  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
            <div>
              <a href="/"><img id="logo" width="70%" src="/media/logo.jpeg"/></a>
              <form id="title_form">
                <div class="form-group">
                  <label style="font-size:15px">제목 또는, 서가번호, 저자명을 입력해주세요</label>
                  <input placeholder="ex)총, 균, 쇠" type="text" class="form-control" name="title">
                </div>
                <button type="submit" class="btn btn-lg btn-default">검색</button>
              </form>
            </div>

            <div id="map" style="display: none;"><img  width="100%" height="50%" src="/media/map.png"/></div>

            {% if info_list %}
            <div>
              <table class="search_result table">
                 <caption>{{request.GET.title}} 에 대한 검색결과(최대 30권 검색)</caption>
                  <thead>
                    <tr>
                      <th>#</th>
                      <th class="col-md-9">제목</th>
                      <th class="col-md-1">번호</th>
                      <th class="col-md-2">위치</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for name, major_id, minor_id, room_num, colrow, link in info_list %}
                    <tr>
                      <th scope="row">{{forloop.counter}}</th>
                      <td style="text-align:left"><a href="{{link}}">{{name}}</a></td>
                      <td>{{major_id}}<br>{{minor_id}}</td>
                      <td><button type="submit" style="padding: 1px; font-size:14px;"class="btn btn-lg btn-default book">{{room_num}}<br>{{colrow}}</button></td>
                    </tr>
                    {% endfor %}
                  </tbody>
              </table>
            </div>
            {% endif %}

          <div class="mastfoot">
            <a target="_parent" style="font-size:15px" href="http://www.facebook.com/code4gwanak/">CodeForGwanak</a><br>
            <a target="_parent" href="http://snulibmap.wordpress.com/"> <i class="fa fa-wordpress fa-2x"></i></a>&nbsp;
            <a target="_parent" href="http://github.com/student777/shelf_map/"><i class="fa fa-github fa-2x"></i></a>&nbsp;
            <a target="_parent" id="email"><i class="fa fa-envelope-o fa-2x"></i></a>
          </div>

        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script>
      $('.book').click(function(){
        $('#map').show();
        var location = $(this).text()
        $('#map>p').hide()
        $('#map').append('<p>'+location+'</p')
        $('html,body').scrollTop(0);
      })
      $('#email').click(function(){
        alert('snulibmap@gmail.com')
      })
    </script>

  </body>
</html>

